html, body {
  color:#4c4c4c;
  font: normal 92% 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: thin;
  font-stretch: normal;
  line-height: normal;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
